// var color
$backgound_color: #0C3040;
$second_backgound_color: #043444;
$main_color: #51D73C;
$second_color: #227443;
$roboto: 'Roboto', sans-serif;

.icon-file_copy:before {
    content: "\e900";
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a{
        text-decoration: none;
    }
}
body{
   background-color: $backgound_color;
   font-family: $roboto;
   

}
textarea{
    resize: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}

// eneral for all nav links
.links {
    ul{
        list-style: none;
        margin: 0 10px;
        li{
            display: inline-block;
            position: relative;

        }
        a{
            text-transform: capitalize;
            color: #51D73C;
            padding: 10px;
            transition: .3s;
           

        }
    }
}
// for second font
.title_section,.convert_but{
    font-family: 'Righteous', cursive;
        letter-spacing: 2px;
}

// ###############################
//  for copied effect
.copied{
    z-index: 99;
    
    width: 100px;
    height: 30px;
    text-align: center;
    color: $main_color;
    position: absolute;
    top: -20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    left: -40px;

}
// ###############################


// ********** nav bar ***************
#main_nav{
    background-color: $second_backgound_color;
    height: 70px;
    width: 100%;
    // box-shadow: 2px -6px 17px #227234;

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        height: 70px;

        a{
            display: block;
            height: 100%;
            width: 70%;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }


    .links{
        // @include nav_links();
        ul li a{
            &::after{
                content: "";
                z-index: 99;
                position: absolute;
                bottom: -5px;
                left: 0px;
                width: 0%;
                height: 2px;
                background-color: #227443;
                transition: width .3s;
            }
            &:hover::after{
                width: 100%;
            }
        }
    }
}
#main_body{
    margin-top: 20px;
    .container{
        width: 70%;
    }
    .title_section{
        
        text-align: center;
    }
    .title{
        display: inline-block;
        color: $main_color;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            z-index: 99;
            bottom: -9px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #227443;
             transform: scaleX(.4);
            transition: transform 0.5s;

        }
        &:hover::after{
            transform: scaleX(0.7);
        }
    }

    .key_number{
        .key_lable{
            color: $second_color;
        }
        .key_input{
            background-color: $second_backgound_color;
            color: $main_color;
            border: 2px solid $second_color;
            border-radius: 5px;
            width:120px;
            height: 25px;
            text-align: center;
            font-size: large;
        }
    }

    .body_nav{
        text-align: center;
        margin-top: 30px;
        .links{
            ul li a:hover{
                color: $second_color;
            }
        }
    }
    .frame_content{
        margin-top: 30px;
        height: 60vh;
        .frame_item{
            width: 100%;
            height: 100%;
        }

        #encryption_frame{
            .container{
                margin: 20px auto;

            }

            display: block;
           
            label{
                color: $second_color;
                margin-right: 10px;
                font-weight: 600;
            }
            input{
                padding: 5px;
                color: $main_color;
                border: 1px solid $main_color;
                border-radius: 5px;
                width: 100px;
                height: 30px;
                background-color: $second_backgound_color;
                outline: none;
                font-size: large;
            }
            .convert_but{
                width: 150px;
                height: 50px;
                background-color: $main_color;
                color: $backgound_color;
                border: 0px;
                border-radius: 10px;
                cursor: pointer;
                font-size: larger;
                transition: 0.3s;
                display: block;
                margin: 10px auto;

                &:hover{
                    color: $main_color;
                    border: 1px solid $main_color;
                    background-color:$second_backgound_color;
                }
            }

            .cripto_container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-column-gap: 20px;
                margin-top: 30px;
                
                textarea::placeholder{
                    font-size: xx-large;
                    font-weight: 900;
                    color: $second_color;
                    text-align: center;
                }

                .text_item{
                    min-height: 250px;
                    border: 2px solid $main_color;
                    border-radius: 10px;
                    background-color: $second_backgound_color;
                }

                .text_input{
                    
                    padding: 20px;
                    border: 0px;
                    width: 100%;
                    height: 100%;
                    color: $main_color;
                    font-family: $roboto;
                    background-color: $second_backgound_color;
                    &:focus{
                        outline: none;
                    }
                }
                #text_after{
                    font-size: small;
                    width: 100%;
                    height: 100%;
                }
            }

        }
        #relative{
            position: relative;
        }
        .copy{
            position: relative;
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: .3s;
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 99;
            &:hover{
                opacity: .7;
            }
            .svg_icon{
                width: 100%;
                height: 100%;
            }
        
        }
        #decryption_frame{
            background-color: blue;
            display: none;

        }
        #about_algo_frame{
            background-color: goldenrod;
            display: none;

        }
    }




}


