.icon-file_copy:before {
  content: "\e900";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

body {
  background-color: #0C3040;
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.links ul {
  list-style: none;
  margin: 0 10px;
}

.links ul li {
  display: inline-block;
  position: relative;
}

.links ul a {
  text-transform: capitalize;
  color: #51D73C;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.title_section, .convert_but {
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
}

#main_nav {
  background-color: #043444;
  height: 70px;
  width: 100%;
}

#main_nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_nav .logo {
  height: 70px;
}

#main_nav .logo a {
  display: block;
  height: 100%;
  width: 70%;
}

#main_nav .logo a img {
  width: 100%;
  height: 100%;
}

#main_nav .links ul li a::after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: #227443;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#main_nav .links ul li a:hover::after {
  width: 100%;
}

#main_body {
  margin-top: 20px;
}

#main_body .container {
  width: 70%;
}

#main_body .title_section {
  text-align: center;
}

#main_body .title {
  display: inline-block;
  color: #51D73C;
  position: relative;
}

#main_body .title::after {
  position: absolute;
  content: "";
  z-index: 99;
  bottom: -9px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #227443;
  -webkit-transform: scaleX(0.4);
          transform: scaleX(0.4);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#main_body .title:hover::after {
  -webkit-transform: scaleX(0.7);
          transform: scaleX(0.7);
}

#main_body .key_number .key_lable {
  color: #227443;
}

#main_body .key_number .key_input {
  background-color: #043444;
  color: #51D73C;
  border: 2px solid #227443;
  border-radius: 5px;
  width: 120px;
  height: 25px;
  text-align: center;
  font-size: large;
}

#main_body .body_nav {
  text-align: center;
  margin-top: 30px;
}

#main_body .body_nav .links ul li a:hover {
  color: #227443;
}

#main_body .frame_content {
  margin-top: 30px;
  height: 60vh;
}

#main_body .frame_content .frame_item {
  width: 100%;
  height: 100%;
}

#main_body .frame_content #encryption_frame {
  display: block;
}

#main_body .frame_content #encryption_frame .container {
  margin: 20px auto;
}

#main_body .frame_content #encryption_frame label {
  color: #227443;
  margin-right: 10px;
  font-weight: 600;
}

#main_body .frame_content #encryption_frame input {
  padding: 5px;
  color: #51D73C;
  border: 1px solid #51D73C;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  background-color: #043444;
  outline: none;
  font-size: large;
}

#main_body .frame_content #encryption_frame .convert_but {
  width: 150px;
  height: 50px;
  background-color: #51D73C;
  color: #0C3040;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin: 10px auto;
}

#main_body .frame_content #encryption_frame .convert_but:hover {
  color: #51D73C;
  border: 1px solid #51D73C;
  background-color: #043444;
}

#main_body .frame_content #encryption_frame .cripto_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  margin-top: 30px;
}

#main_body .frame_content #encryption_frame .cripto_container textarea::-webkit-input-placeholder {
  font-size: xx-large;
  font-weight: 900;
  color: #227443;
  text-align: center;
}

#main_body .frame_content #encryption_frame .cripto_container textarea:-ms-input-placeholder {
  font-size: xx-large;
  font-weight: 900;
  color: #227443;
  text-align: center;
}

#main_body .frame_content #encryption_frame .cripto_container textarea::-ms-input-placeholder {
  font-size: xx-large;
  font-weight: 900;
  color: #227443;
  text-align: center;
}

#main_body .frame_content #encryption_frame .cripto_container textarea::placeholder {
  font-size: xx-large;
  font-weight: 900;
  color: #227443;
  text-align: center;
}

#main_body .frame_content #encryption_frame .cripto_container .text_item {
  min-height: 250px;
  border: 2px solid #51D73C;
  border-radius: 10px;
  background-color: #043444;
}

#main_body .frame_content #encryption_frame .cripto_container .text_input {
  padding: 20px;
  border: 0px;
  width: 100%;
  height: 100%;
  color: #51D73C;
  font-family: "Roboto", sans-serif;
  background-color: #043444;
}

#main_body .frame_content #encryption_frame .cripto_container .text_input:focus {
  outline: none;
}

#main_body .frame_content #encryption_frame .cripto_container #text_after {
  font-size: small;
  width: 100%;
  height: 100%;
}

#main_body .frame_content #relative {
  position: relative;
}

#main_body .frame_content .copy {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}

#main_body .frame_content .copy:hover {
  opacity: .7;
}

#main_body .frame_content .copy .svg_icon {
  width: 100%;
  height: 100%;
}

#main_body .frame_content .copy::after {
  z-index: 99;
  content: "copied";
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  color: #51D73C;
  position: absolute;
  top: -20px;
  display: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: -40px;
}

#main_body .frame_content #decryption_frame {
  background-color: blue;
  display: none;
}

#main_body .frame_content #about_algo_frame {
  background-color: goldenrod;
  display: none;
}
/*# sourceMappingURL=main.css.map */